.scroll-custom::-webkit-scrollbar {
  width: 5px;
}

.scroll-custom::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(98, 106, 117, 0);
  background-clip: padding-box;
  border: 1px solid transparent;
}